################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Img2Map/v15
/Img2Map/.vs/Img2Map/v15
/Img2Map/x64/Debug/Img2Map.tlog
